.page-login {
    .box-login {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #383743;
        width: 100%;
        max-width: 315px;

        h1 {
            font-size: 24px;
            font-weight: bold;
        }

        p {
            font-size: 18px;
            line-height: 1.44;
            letter-spacing: -0.25px;
            text-align: center;
        }

        .text-alert-danger {
            color: #ff0f44;
            //margin: 15px 0;

            font-family: Roboto;
          
            font-size: 12.2px;
          
            font-weight: normal;
          
            font-stretch: normal;
          
            font-style: normal;
          
            line-height: 1.95;
          
            letter-spacing: -0.17px;
          
            text-align: center;
          
            color: #ff0f44;
        }
    }
}