.enterprise-view {
    padding: 1.6rem;
    border-radius: 4.7px;
    background: white;
    display: flex;
    flex-direction: column;
    margin: 0 2.75rem;
    margin-top: 2.75rem;
    margin-bottom: 2.75rem;
    align-items: center;
    text-decoration: none !important;
    cursor: pointer;

    img {
        width: 100%;
        height: 295px;
        object-fit: cover;
        margin-bottom: 3rem;
    }

    p {
        font-size: 34px;
        color: #8d8c8c;
    }
}