.search-view {
    flex: 1;
    display: flex;
    flex-direction: column;
    .main-text {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 32px;
        letter-spacing: -0.45px;
        color: #383743;
    }
}