.enterprise-card {
    padding: 1.6rem;
    border-radius: 4.7px;
    background: white;
    display: flex;
    margin: 0 2.75rem;
    margin-top: 2.75rem;
    align-items: center;
    text-decoration: none !important;
    cursor: pointer;
    img {
        width: 293px;
        height: 160px;
        object-fit: cover;
        margin-right: 2.2rem;
    }
    .base-details {
        flex: 1;
        * {
            width: 100%;
            text-align: left;
            line-height: 1.5;
        }
        h3 {
            font-size: 30px;
            font-weight: bold;
            color: #1a0e49;
            line-height: 1;
        }
        h4 {
            font-size: 24px;
            color: #8d8c8c;
        }
        .caption {
            font-size: 18px;
            color: #8d8c8c;
        }
    }
}