.pk-header {
    background-image: linear-gradient(180deg, #f20069 0%, #c20060 100%);
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 2.5rem;
    .spacer {
        width: 60px;
        height: 60px;
        transition: all 1s;
    }

    .page-title {
        display: flex;
        align-items: flex-start;
        flex: 1;
        font-size: 34px;
        color: #fff;
        margin-left: 5rem   ;
    }

    .base-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 25px;
        width: 230px;
        transition: all 1s;
        img {
            min-width: 230px;
        }
    }

    .base-search {
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: flex-end;
        transition: all 1s;

        > button {
            width: 100%;
        }

        .base-input {
            animation: openSearch 1s;
            width: 100%;
            img {
                min-width: 60px;
            }
            .pk-input {
                width: 100%
            }
        }
    }

    &:not(.open-search) {
        .base-logo {
            flex: 1;
        }
        .base-search {
            .base-input {
                > div {
                    transition: all 1s;
                    border-bottom-color: transparent;
                    > *:not(img) {
                        display: none;
                    }
                }
            }
        }
    }

    &.open-search {
        .base-logo, .spacer {
            opacity: 0;
            width: 0;
            overflow: hidden;
            padding: 0;
            transition: all 1s;
        }
        .base-search{
            width: 100%;
            //flex: 1;
            > .icon-open-search {
                display: none;
            }
            .base-input {
                input {
                    color: #fff;
                    &::placeholder {
                        color: #991237
                    }
                }
                > div {
                    transition: all 1s;
                    border-bottom-color: white;
                }
            }
        }
    }
}

@keyframes openSearch {
    0% {
        width: 60px;
        opacity: 1;
    }
    10% {
        width: 100%;
        opacity: 0;
    }
}