.pk-input {
    border-bottom: solid 1px #383743;
    display: flex;
    align-items: center;
    input {
        height: 25px;
        padding: 0;
        margin: 0;
        outline: none;
        border: none;
        font-family: inherit;
        flex: 1;
        color: #383743;
        background: none;
        &::placeholder {
            color: rgba(#333333, .5)
        }
    }

    &.validate-danger {
        border-bottom-color: #ff0f44;
    }

    &.xl {
        input {
            font-size: 34px;
            padding: 1.2rem 0 !important;
        }
        &>img {
            width: 60px;
        }
    }
}