@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import './reset.css';
@import './spacing.scss';

body {
    font-family: Roboto, Ubuntu, Calibri;
    background: #ebe9d7;
}

a:not([disabled]), button:not([disabled]) {
    cursor: pointer;
}

.w-full {
    width: 100%;
}