$sizes: (xs:5,sm:900, lg: 10000); // Leave this variable alone
$sides: (all,top, bottom, left, right); // Leave this variable alone
$spacers: (margin, padding);


@each $size, $size_value in $sizes {
  @media (min-width: #{$size_value}px) {
    @for $space from 0 through 16 {
        $size-class: if($size=='xs','',($size+"\\:"));
        @each $prop in $spacers {
          @each $side in $sides {
          .#{$size-class}#{str-slice($prop, 0, 1)}#{str-slice($side, 0, 1)}-#{$space} {
            #{$prop}#{if( $side=='all', '', ( '-' + $side )) }: #{$space/4}rem !important;
          }
        }
        .#{$size-class}#{str-slice($prop, 0, 1)}a-#{$space} {
          #{$prop}: #{$space/4}rem !important;
        }
        .#{$size-class}#{str-slice($prop, 0, 1)}y-#{$space} {
          #{$prop}-top: #{$space/4}rem !important;
          #{$prop}-bottom: #{$space/4}rem !important;
        }
        .#{$size-class}#{str-slice($prop, 0, 1)}x-#{$space} {
          #{$prop}-left: #{$space/4}rem !important;
          #{$prop}-right: #{$space/4}rem !important;
        }
      }
    }
  }
}